<ion-app>
		<ion-grid>
			<ion-row>
				<ion-col>
				<ion-toggle [checked]="checked[0]" (ionChange)="changeToggle(0)"></ion-toggle>
				</ion-col>
				<ion-col>
				<ion-toggle [checked]="checked[1]" (ionChange)="changeToggle(1)"></ion-toggle>
				</ion-col>
        <ion-col>
				<ion-toggle [checked]="checked[2]" (ionChange)="changeToggle(2)"></ion-toggle>
				</ion-col>
        <ion-col>
				<ion-toggle [checked]="checked[3]" (ionChange)="changeToggle(3)"></ion-toggle>
				</ion-col>
				<ion-col>
					{{timerValue}}
				</ion-col>
			</ion-row>
		</ion-grid>
		
</ion-app>